@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --primary: #383882;
  --prim_hovr: #2c2c6e;
  --Wp_Green: #006039;
  --Wp_Green_hovr: green;
  --title: #131313;
  --desc: #585858;
  --background: #f7f8fc;
  --Wp_border: #ddd;
}

@theme inline {
  --color-primary: var(--primary);
  --color-prim_hovr: var(--prim_hovr);
  --color-Wp_Green: var(--Wp_Green);
  --color-Wp_Green_hovr: var(--Wp_Green_hovr);
  --color-title: var(--title);
  --color-desc: var(--desc);
  --color-background: var(--background);
  --color-Wp_border: var(--Wp_border);
  --font-poppins: var(--font-poppins);
}


body {
  font-family: var(--font-poppins);
  color: var(--desc);
}

.scrollDiv {
  direction: rtl;
}

/* Keep content normal */
.scrollContent {
  direction: ltr;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #e9e7e7;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  /* primary color */
  border-radius: 50vh;
}

.scrollDiv::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
  /* darker on hover */
}

.scrollContent h2 {
  @apply text-xl font-semibold text-primary mb-4;
}

.scrollContent h3,
.scrollContent h4,
.scrollContent h5,
.scrollContent h6 {
  @apply text-lg font-semibold mt-3;
}

.scrollContent p {
  @apply text-sm mt-3;
}

.scrollContent ul {
  @apply list-disc mt-10 pl-6 flex flex-col gap-y-5 text-sm;
}

.scrollContent a {
  @apply text-primary hover:underline;
}

.blogSingle p {
  @apply text-base font-normal text-desc mb-4;
}

.blogSingle a {
  @apply text-primary underline;
}

.blogSingle h2 {
  @apply text-2xl font-semibold text-primary mb-2 mt-4;
}

.blogSingle h3 {
  @apply text-xl font-semibold text-primary mb-2 mt-4;
}